*{
    padding: 0;
    margin: 0;
}
.container{
    font-size: 25px;
    font-weight: bold;
    max-width: 500px;
    height: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.but {
    text-align: center;
    background-color: #f5f5f5;
    border:1px solid #e5e5e5;
    position: relative;
}
main{
    position:absolute;
    top: 30px;
}
.but:hover{
    background-color: #cecccc;
    cursor: pointer;
}
.but:active{
    background-color: #a5a3a3;
}
.inputt{
    font-size: 45px;
    color:black;
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: #f5f5f5;
    border:1px solid #e5e5e5;
    position: relative;
}
.inputt span{
    position: absolute;
    bottom: 0;
    right: 0;
}
#equally{
    grid-row: 5/7;
    grid-column: 4/5;
}
#zero{
    grid-column: 1/3;
}




.setting img{
    position: absolute;
    width: 30px;
    height: 30px;
}

.bttu{
    display: none;
    height: 30px;
}

.testclass .bttu{
    display: block;
    width: 200px;
    background-color: aquamarine; 
    position: absolute;  
}
